.footer {
  background-color: #111;
  color: #ddd;
  padding: 2rem 1rem 1rem;
  font-family: "Poppins", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 1rem;
}

.footer-section h3 {
  color:tomato;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9rem;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: tomato
}

.social-icons a {
  color: tomato;
  margin-right: 10px;
  font-size: 1.2rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: tomato;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.8rem;
  color: #888;
}
