/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Background styling */
.background {
  background-image: url('../../images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Container for the author section */
/* Chapters Section */
.chapters-section {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
}

.chapters-heading {
  font-size: 2rem;
  font-weight: 600;
  color: #2C3E50;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Chapter Cards */
.chapters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.chapter-card {
  width: 280px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease-in-out;
}.chapter-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.like-button {
  background: none;
  border: none;
  font-size: 18px;
  color: #777;
  cursor: pointer;
  transition: all 0.3s ease;
}

.like-button.liked,
.like-button:hover {
  color:#E28B2C;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #E28B2C;
  color: white;
}

.modal-buttons button:last-child {
  background-color: #ccc;
  color: #333;
}

/* .chapter-card:hover {
  transform: scale(1.05);
} */

.chapter-card h3 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.chapter-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

/* View Button */
.view-button {
  background-color: #E28B2C;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover {
  background: linear-gradient( #D35400, #E28B2C);
}
